:root {
    --primaryColor: #00669F;
    --secondaryColor: #1CD1B0;
    --fifthColor: #001D2D;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
}

body .topBar {
    background: var(--secondaryColor);    
    color: #000000;    
    font-size: 1 rem;
    padding: 0.313rem;
    padding-left: 1.875rem;
    z-index: 2;
}

header .mainTitle {
    background: var(--primaryColor);
    box-shadow: 0px 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
    padding: 0.6rem;
    padding-left: 1.5rem;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
}

header img {
    width: 60px;
}

h1 {
    color: #FFFFFF;
    font-size: 1.875rem;
    font-weight: normal;
    text-align: left;
}

nav {
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%
}

nav ul {
    gap: 0.935rem;
    font-size: 0.9rem;
    list-style: none;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

nav ul a {
    color: #FFFFFF;
    text-decoration: none;
}

.cards {
    margin: 10vh 15vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.plusButton a{
    font-size: 3.125rem;
    bottom: calc(50% - 30.5px); 
    color: var(--primaryColor);
    position: fixed;
    right: 3%;
    text-decoration: none;
}

.plusButton a:hover {
    color: var(--fifthColor);
;
}

.allRights {
    background-color: var(--primaryColor);    
    color: #FFFFFF;
    margin-top: 5%;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}