* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
}

.topBar {
    background: #1CD1B0;    
    color: #000000;    
    font-size: 20px;
    padding: 5px;
    padding-left: 30px;
    z-index: 2;
}

header {
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    display: block;
    padding: 15px;
    padding-left: 30px;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}

h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: normal;
    text-align: left;
}

.card {
    border-radius: 50px;
    margin: 5% 35% 10px;
    position: relative;
}

.like {
    bottom: 6.25%;
    color: #CC2424;
    font-size: 30px;
    left: 5%;
    position: absolute;
    top: 3%;
}

.bgPicture {
    background-color: #000000;
    background-position-y: center;
    background-position-x: 70%;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 10%;
    padding-left: 30%;
}

.batman .bgPicture{
    background-image: url(../img/bg-batman.jpg);
    background-size: 200%;
}

.wonderwoman .bgPicture {
    background-image: url(../img/bg-wonderw.jpg);
}

.superman .bgPicture {
    background-image: url(../img/bg-superman.jpg);
}

img {
    border-radius: 50%;
    position: relative;
    top: 90px;  
    width: 60%;
    z-index: 1;
    
}

.content {
    background-color: #F3F3F3;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.20);
    padding-top: 100px;
    position: relative;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
}

.content p {
    font-size: 20px;
    margin-bottom: 70px;
    text-align: left;
    padding: 10px 25px 10px;
}

.button {
    background-color: #00669F;
    bottom: 30px;
    border-radius: 10px;
    color: #FFFFFF;
    height: 42px;
    padding: 15px 50px;
    position: relative;
    text-decoration: none;
}

.plusButton a{
    font-size: 50px;
    bottom: 35%;
    color: #00669F;
    position: fixed;
    right: 3%;
    text-decoration: none;
}

.allRights {
    background-color: #00669F;    
    color: #FFFFFF;
    margin-top: 5%;
    padding: 20px;
    text-align: center;
}